{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam adipisci doloribus dolorum pariatur autem, rerum ex! Distinctio rem, repellat quae nemo dolorem ea veniam voluptate! Quae et, sint, vero voluptatibus fugiat delectus atque magnam cupiditate omnis distinctio, harum corporis quo non natus. Voluptatum, esse? Tenetur architecto vero quis suscipit eveniet possimus temporibus, illum error tempore, a assumenda voluptatum quos vel fugiat cupiditate! Fugiat sint dolores iusto repellendus expedita nostrum perferendis consequatur maiores fuga eum? Error doloremque cumque quis enim illum optio incidunt debitis aspernatur blanditiis, minus eaque odio. Vitae earum quod ea libero rem sunt commodi quisquam velit fuga pariatur?</p>

            <div class="text-center">
                <a class="btn btn-primary" href="/signin/">
                    Signin
                </a>
                <a class="btn btn-secondary" href="/signup/">
                    Signout
                </a>
            </div>
    </section>
</main>

{% endblock %}